

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D5E1EF;
    height: 100vh;
    overflow-y: hidden;

}

.main-div {
    position: absolute;
    width: 20rem;
    height: 31.06rem;
    background-image: linear-gradient(to bottom, black, red, rgb(252, 125, 125));
    box-shadow: 25px 25px 25px 25px rgba(92, 53, 249, 0.048);
    border-radius: 1.25rem;
}


.qr-code>img {
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 10px;
    left: 1rem;
    top: 1rem;
}

.title {
    position: relative;
    top: 1.5rem;
    height: 56px;
    width: 288px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    left: 1rem;
}

.description {
    position: relative;
    color: rgb(255, 255, 255);
    font-family: Outfit;
    font-size: 1rem;
    letter-spacing: 0.1875px;
    text-align: center;
    height: 3.5rem;
    width: 16rem;
    left: 2rem;
    top: 2.5rem;
}


@media only screen and (max-width: 375px) and (max-height: 567px) {
    body {
        background-color: rgb(112, 224, 255);
    }

    .main-div {
        background-color: rgb(36, 33, 33);
        box-shadow: 1px  10px 100px rgb(42, 42, 42);
    }

    .title {
        color: #D5E1EF;
    }

    .description {
        color: white;
    }
}